// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

// Give the main content a bit more breathing room
.page-content {
  padding-top: $spacing-unit * 1.5;
  padding-bottom: $spacing-unit * 1.5;
}
